:host {
	display: block;
}

.title {
	text-align: center;
}

.welcome-actions {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	max-width: 200px;

	button {
		display: block;
	}
}
